@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: lightgray;
  color: darkblue;
  font-family:'Times New Roman', Times, serif
}

nav {
  padding-top: 40px;
  padding-bottom: 10px;
}

.text-right {
  float: right;
}
